{% extends "layout.html" %}

{% block body %}
<div class="flex items-center justify-center h-screen">
    <div class="flex items-center border-b border-teal-500 py-2">
        <a class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
            type="text" placeholder="Your long URL" aria-label="Your long URL" name="url" id="url"
            href="{{ shortened_url }}">{{ shortened_url }}</a>
    </div>
    <h1 id="clipboard-status"></h1>
</div>
{% endblock %}